@model SubscribeEditVM

<div class="d-flex flex-column justify-content-start align-items-start g-10 w-100 ms-3">
    <h2 class="align-self-start">Update Subscribe</h2>

    <form asp-controller="Subscribe" asp-action="Edit" method="post" class="w-100">
        <div class="form-group">
            <label for="mail" class="control-label">Please enter email address:</label>
            <input asp-for="Email" class="form-control border mb-3 p-2 w-25" id="mail" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">Update</button>
            <br />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </form>
    <br /> <br />
    <a asp-controller="Subscribe" asp-action="Index">Back to SubscribeList</a>
</div>


