@using X.PagedList
@using X.PagedList.Mvc.Core
@model ProductIndexVM

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        @foreach (var product in Model.Products)
        {
            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                    @if (product.Images.Any())
                    {
                        <img src="~/img/featured/@product.Images.First().ImgUrl" alt="@product.Name" style="object-fit:cover; min-height: 300px; max-height:500px">
                    }
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $@product.Price.ToString(".##")</p>
                        <h4>@product.Name</h4>
                    </div>
                </a>
            </div>
        }

    </div>
    <!-- Pagination -->
    <nav aria-label="navigation">
        <div class="pagination pagination-container justify-content-center mt-50">
            @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page }))
        </div>
    </nav>
</div>
        
    